@import '../../../node_modules/mini.css/dist/mini-default.css';

header {
  background-color: white;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.right {
  margin-left: auto;
  margin-right: 24px;
  float: right;
}

.user {
  height: 3rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.logo {
  margin: 0 1rem;
}

form {
  min-width: 300px;
}

.error {
  background-color: red;
  color: white;
  padding: 1rem;
  border: 2px solid red;
  width: 300px;
  height: 300px !important;
  margin: 240px auto;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 2.5rem;
}

.filter-green {
  filter: invert(71%) sepia(53%) saturate(6591%) hue-rotate(83deg) brightness(126%) contrast(124%);
}

.filter-red {
  filter: invert(15%) sepia(100%) saturate(6822%) hue-rotate(3deg) brightness(102%) contrast(116%);
}

.filter-blue {
  filter: invert(9%) sepia(100%) saturate(6644%) hue-rotate(247deg) brightness(94%) contrast(145%);
}

.normal {
  filter:invert(0%)
}

.inverted {
  filter:invert(100%)
}